<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>StitchIt! Homepage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello, ' + ${name} + ', and welcome to the StitchIt! project!'" />
<p th:text="'This is where you can find a cross-stitch scheme of your liking for free. Just don\'t hesitate to go through ' +
'all the different topicEntity tabs to look for your favourite motives and choose the difficultyEntity level that you want to tackle.'" />
<p th:text="'Do you create schemes of your own and want to share them? Feel free to do so by clicking on the \'add\' button ' +
'on the upper right side of your screen. You will be then guided through a simple uploading procedure.'" />
<p th:text="'Now take your time and enjoy the StitchIt! project!'" />
</body>
</html>